* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
  margin: 0;
  color: orange;
}

/* navigation and dropdown */
nav ul {
  width: 100%;
  background-color: rgba(44, 42, 39, 0.983);
  list-style-type: none;
  /* 마진 패딩 지정하지 않으면 x브라우저 기본 스타일을 따라 설정되므로 오버라이딩 필요 */
  margin: 0;
  padding: 0;
}
/* li 는 블록요소인데 inline-block 으로 인라인속성 부여해서 나란히 배치*/
nav ul li {
  display: inline-block;
}

.home {
  background-color: darkorange;
  width: 100px;
  text-align: center;
  font-weight: bold;
  float: right;
}

.home a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px 16px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  /*background-color: darkorange; */
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* dropdown-menu 에는 hover 적용이 안됨 */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu:hover:not(.home) {
  background-color: darkorange;
  color: white;
}

/* End-navigation and dropdown */

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: rgb(228, 216, 216);
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  font-family: monospace;
}

/* Clear floats after the columns */
.contents:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  text-align: center;
  padding: 25px;
}
.footer h6 {
  margin: 0;
}
#warnning {
  color: red;
}
@media screen and (min-width: 850px) {
  .leftcolumn,
  .rightcolumn {
    display: none;
  }
  body {
    font-family: sans-serif;
    padding: 10px;
    background: #f1f1f1;
    width: 88%;
    margin: auto;
  }
  nav ul {
    width: 100%;
    background-color: rgba(44, 42, 39, 0.983);
    list-style-type: none;
    /* 마진 패딩 지정하지 않으면 브라우저 기본 스타일을 따라 설정되므로 오버라이딩 필요 */
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
